body{
	margin-left: 50px;
}
section{
	margin-bottom: 10px;
}
.stats, .bugname{
	font-size: 18pt;
}
.closed{
	color : red;
	text-decoration : line-through;
	font-style : italic;
}
.bugname{
	cursor: pointer;
}
ol{
	list-style: none;
	width : 500px;
	-webkit-padding-start : 0px;
}
li{
	border : 2px solid gray;
	margin-bottom: 10px;
	background-color: #e7e7e7;
	padding: 10px;
	border-radius: 5px;
}